// Файл: Login.module.scss

// Переменные для цветов и шрифтов
$primary-color: #004a7f;
$secondary-color: #f0f0f0;
$border-color: #000;
$button-hover-color: #ddd;

.login-container {
  background-color: $secondary-color;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 24px;
    color: $primary-color;
    margin-bottom: 20px;
  }

  form {
    width: 100%;

    label {
      display: block;
      margin: 10px 0 5px;
      font-size: 16px;
      text-align: left;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin: 5px 0 15px;
      border: 2px solid $border-color;
      border-radius: 5px;
      font-size: 14px;
    }

    input[type="button"] {
      width: 45%;
      padding: 10px;
      margin: 10px 5px;
      border: 2px solid $border-color;
      border-radius: 5px;
      background-color: #fff;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $button-hover-color;
      }
    }
  }
}
